/* Layout.css */
.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 최소 화면 높이 설정 */
  }
  
  .main-content {
    flex: 1; /* 남은 공간을 모두 차지하도록 함 */
    padding: 20px 0;
  }